<div *ngIf="clients">
  <table mat-table [dataSource]="clients" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
      <td mat-cell *matCellDef="let element">{{ element.dateOfBirth }}</td>
    </ng-container>

    <ng-container matColumnDef="clientPhoneNumber">
      <th mat-header-cell *matHeaderCellDef>Client Phone Number</th>
      <td mat-cell *matCellDef="let element">
        {{ element.clientPhoneNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>Detail</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          [routerLink]="['detail/']"
          [queryParams]="{ name: element.name }"
        >
          Detail
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<router-outlet></router-outlet>
