<div *ngIf="details">
  <table mat-table [dataSource]="details" class="mat-elevation-z8">
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef>Client Name</th>
      <td mat-cell *matCellDef="let element">{{ element.clientName }}</td>
    </ng-container>

    <ng-container matColumnDef="clientPhoneNumber">
      <th mat-header-cell *matHeaderCellDef>Client Phone Number</th>
      <td mat-cell *matCellDef="let element">
        {{ element.clientPhoneNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="contractDate">
      <th mat-header-cell *matHeaderCellDef>Contract Date</th>
      <td mat-cell *matCellDef="let element">{{ element.contractDate }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element">
        {{ element.value }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endingDate">
      <th mat-header-cell *matHeaderCellDef>Ending Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endingDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
